<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home" text="Sair"></ion-back-button>
    </ion-buttons>
    <ion-title>Selecione uma opção</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollX="false" scrollY="false">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aulas</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pagamentos</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lembretes</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>